*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
}

nav{
    height: 60px;
    align-items: center;
    display: flex;
    background-color: #0f1111;
    color: white;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
}
.logo img{
    width: 100px;
    padding: 5px;
}
.logo:hover{
    border: 2px solid white;
}
.location{
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 13px;
}
.location-icon{
    display: flex;
    align-items: center;
    padding: 2px;
}
.location:hover{
    border: 2px solid white;
}
.nav-center{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.nav-center select{
    padding: 10px;
    border-left: none;
    width: 70px;
    background-color: rgb(210, 208, 208);
    border-radius: 5px 0 0 5px;
}
.nav-center .search-box{
    padding: 10px;
    flex-grow: 1;
    outline: none;

}
.search-icon{
    padding: 10px;
    background-color: rgba(255, 203, 105, 0.849);
    border-radius: 0 5px 5px 0;
    outline: none;
}

.nav-right{
    display: flex;
    align-items: center;
}
.nav-language{
    padding: 10px;
    align-items: center;

}

.nav-language:hover{
    border: 2px solid white;
}

.nav-language select{
    outline: none;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 10px;
}

.account-option{
    font-size: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.account-option:hover{
    border: 2px solid white;
}
.account-option select{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 11px;
    margin-left: 0;
}

.orders{
    align-items: center;
    font-size: 12px;
    padding: 10px;
}

.orders:hover{
    border: 2px solid white;
}

.cart{
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 2px;
}

.cart:hover{
    border: 2px solid white;
}

.nav-options{
    height: 42px;
    display: flex;
    align-items: center;
    background-color: #222f3d;
    color: white;
    justify-content: start;
    gap: 20px;
    font-size: 18px;
    padding-left: 50px;
}
.all-logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.all-options{
    display: flex;
    gap: 10px;
    align-items: center;
}


.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


 /* main {
    width: min(1500px, 100%);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.carousel {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.carousel .slides-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel .slides-container::-webkit-scrollbar {
    display: none;
}

.slides-container .slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    overflow: hidden;
}


.slide .content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    scale: 2;
    margin: 1rem;
}

.slide .prev {
    left: 1rem;
}

.slide .next {
    right: 1rem;
} */

 .text {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: .7rem;
    background-color: #f5f6f6;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .text a {
    text-decoration: none;
    font-weight: bold;
    color: #007185;
} 


.items-container{
    display: flex;
    background-color: #c9cbcf82;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
}

.item-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
    background-color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item-card img{
    width: 250px;
    height: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
}


.back-option{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475A;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    background-color: #232F3E;
    color: white;
    justify-content: space-around;
}

.footer-section{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
    flex-wrap: wrap;
}

.footer-section p{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}
.footer-section a{
    font-size: 10px;
    display: block;
}

.country-info{
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    padding: 30px;
}

.country-info select{
    background-color: transparent;
    padding: 5px;
    color: white;
    font-size: 10px;
}

.country-info .logo img{
    width: 50px;
}

.policies{
    background-color: #131A22;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pages a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 10px;
}

.footer-last{
    background-color: #131A22;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    padding-top: 5px;
}



@media screen and (max-width: 700px) {

    .location{
        font-size: 7px;
    }

    .logo img{
        width: 50px;
    }

    .nav-center{
        display: none;
    }

    .nav-language{
        font-size: 10px;
    }
    
    .account-option{
        display: none;
    }

    .orders{
        font-size: 5px;
    }

    .nav-options{
        font-size: 5px;
    }
    .banner img{
        width: 80%;
    }

    .text{
        font-size: 5px;
    }

    .footer-section a{
        font-size: 5px;
    }

    .footer-last{
        font-size: 5px;
    }

    .pages{
        font-size: 5px;
    }
}









